In [1]:
# Dependencies
import numpy as np
import pandas as pd
from datascience import * 
import re

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import or_ 
from sqlalchemy import and_

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

- Tuple notation: (x, y, z) 
- List notation: [x,y,z]

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

s_2010 = session.query(Measurement.tobs).filter(Measurement.date > '2010-05-31').filter(Measurement.date < '2010-07-01').all()
s_2011 = session.query(Measurement.tobs).filter(Measurement.date > '2011-05-31').filter(Measurement.date < '2011-07-01').all()
s_2012 = session.query(Measurement.tobs).filter(Measurement.date > '2012-05-31').filter(Measurement.date < '2012-07-01').all()
s_2013 = session.query(Measurement.tobs).filter(Measurement.date > '2013-05-31').filter(Measurement.date < '2013-07-01').all()
s_2014 = session.query(Measurement.tobs).filter(Measurement.date > '2014-05-31').filter(Measurement.date < '2014-07-01').all()
s_2015 = session.query(Measurement.tobs).filter(Measurement.date > '2015-05-31').filter(Measurement.date < '2015-07-01').all()
s_2016 = session.query(Measurement.tobs).filter(Measurement.date > '2016-05-31').filter(Measurement.date < '2016-07-01').all()
s_2017 = session.query(Measurement.tobs).filter(Measurement.date > '2017-05-31').filter(Measurement.date < '2017-07-01').all()

[(78.0,),
 (76.0,),
 (78.0,),
 (76.0,),
 (77.0,),
 (78.0,),
 (77.0,),
 (78.0,),
 (78.0,),
 (79.0,),
 (78.0,),
 (78.0,),
 (78.0,),
 (77.0,),
 (78.0,),
 (78.0,),
 (77.0,),
 (77.0,),
 (82.0,),
 (78.0,),
 (78.0,),
 (78.0,),
 (78.0,),
 (78.0,),
 (77.0,),
 (76.0,),
 (78.0,),
 (78.0,),
 (78.0,),
 (78.0,),
 (74.0,),
 (76.0,),
 (75.0,),
 (75.0,),
 (74.0,),
 (75.0,),
 (75.0,),
 (75.0,),
 (75.0,),
 (75.0,),
 (83.0,),
 (75.0,),
 (76.0,),
 (73.0,),
 (74.0,),
 (74.0,),
 (75.0,),
 (70.0,),
 (74.0,),
 (75.0,),
 (75.0,),
 (75.0,),
 (75.0,),
 (75.0,),
 (74.0,),
 (72.0,),
 (76.0,),
 (73.0,),
 (75.0,),
 (76.0,),
 (73.0,),
 (72.0,),
 (74.0,),
 (73.0,),
 (72.0,),
 (75.0,),
 (74.0,),
 (75.0,),
 (73.0,),
 (75.0,),
 (76.0,),
 (74.0,),
 (74.0,),
 (73.0,),
 (73.0,),
 (76.0,),
 (75.0,),
 (70.0,),
 (75.0,),
 (73.0,),
 (74.0,),
 (74.0,),
 (74.0,),
 (74.0,),
 (70.0,),
 (75.0,),
 (74.0,),
 (73.0,),
 (74.0,),
 (77.0,),
 (76.0,),
 (77.0,),
 (75.0,),
 (76.0,),
 (79.0,),
 (79.0,),
 (77.0,),
 (76.0,),
 (77.0,),
 (76.0,),
 (73.0,),
 (76.0,),
 (77.0,),
 (77.0,),
 (78.0,),
 (77.0,),
 (76.0,),
 (78.0,),
 (78.0,),
 (69.0,),
 (70.0,),
 (67.0,),
 (70.0,),
 (73.0,),
 (73.0,),
 (72.0,),
 (72.0,),
 (77.0,),
 (70.0,),
 (78.0,),
 (73.0,),
 (75.0,),
 (70.0,),
 (74.0,),
 (77.0,),
 (69.0,),
 (73.0,),
 (73.0,),
 (74.0,),
 (73.0,),
 (72.0,),
 (75.0,),
 (76.0,),
 (76.0,),
 (76.0,),
 (73.0,),
 (78.0,),
 (77.0,),
 (77.0,),
 (77.0,),
 (78.0,),
 (78.0,),
 (76.0,),
 (76.0,),
 (79.0,),
 (74.0,),
 (75.0,),
 (76.0,),
 (75.0,),
 (73.0,),
 (76.0,),
 (78.0,),
 (76.0,),
 (79.0,),
 (77.0,),
 (76.0,),
 (74.0,),
 (75.0,),
 (76.0,),
 (76.0,),
 (76.0,),
 (71.0,),
 (71.0,),
 (72.0,),
 (72.0,),
 (76.0,),
 (77.0,),
 (71.0,),
 (73.0,),
 (73.0,),
 (75.0,),
 (81.0,),
 (74.0,),
 (77.0,),
 (70.0,),
 (69.0,),
 (70.0,),
 (72.0,),
 (71.0,),
 (77.0,),
 (76.0,),
 (74.0,),
 (74.0,),
 (74.0,),
 (74.0,),
 (71.0,),
 (80.0,),
 (77.0,),
 (72.0,),
 (72.0,),
 (73.0,),
 (74.0,),
 (76.0,),
 (78.0,),
 (74.0,),
 (79.0,),
 (79.0,),
 (69.0,),
 (77.0,),
 (80.0,),
 (75.0,),
 (75.0,),
 (78.0,),
 (71.0,),
 (76.0,),
 (74.0,),
 (78.0,),
 (72.0,),
 (78.0,),
 (85.0,),
 (77.0,),
 (76.0,),
 (76.0,),
 (75.0,),
 (71.0,),
 (70.0,),
 (80.0,),
 (77.0,),
 (70.0,),
 (73.0,),
 (70.0,),
 (78.0,),
 (73.0,),
 (68.0,),
 (79.0,),
 (74.0,),
 (75.0,),
 (71.0,),
 (75.0,),
 (76.0,),
 (73.0,),
 (73.0,),
 (74.0,),
 (72.0,),
 (72.0,),
 (72.0,),
 (70.0,),
 (69.0,),
 (73.0,),
 (71.0,),
 (73.0,),
 (72.0,)]

## Notes

for x in s_2010: 

    print(x[0]) 
    
-- The code above says that for x in s_2010, loop through the tuples, then print the first value from those tuples 
-- NOTE; This is a tuple because of the "(XY)" notation.  The parentheses denotes a tuple

year_2010 = []

for x in s_2010: 
    year_2010.append(x[0])
    
- The above code is taking the empty list and adding the first value of each tuple to the new list (year_2010)

In [16]:
# Declare list: 2010 
year_2010 = []

# Extract the value from the tuple 
for x in s_2010: 
    year_2010.append(x[0])
# Then put the value from the tuple in a list 
# We are taking the first value from each tuple and adding it to a list, this is because each tuple only has one value

In [17]:
# Declare list: 2011
year_2011 = []

# Extract the value from the tuple 
for x in s_2011: 
    year_2011.append(x[0])

In [20]:
# Declare list: 2012
year_2012 = []

# Extract the value from the tuple 
for x in s_2012: 
    year_2012.append(x[0])

In [21]:
year_2013 = []

# Extract the value from the tuple 
for x in s_2013: 
    year_2013.append(x[0])

In [22]:
year_2014 = []

# Extract the value from the tuple 
for x in s_2014: 
    year_2014.append(x[0])

In [23]:
year_2015 = []

# Extract the value from the tuple 
for x in s_2015: 
    year_2015.append(x[0])

In [24]:
year_2016 = []

# Extract the value from the tuple 
for x in s_2016: 
    year_2016.append(x[0])

In [25]:
year_2017 = []

# Extract the value from the tuple 
for x in s_2017: 
    year_2017.append(x[0])

In [28]:
#  3. Convert the June temperatures to a list.

all_years = year_2010 + year_2011 + year_2012 + year_2013 + year_2014 + year_2015 + year_2016 + year_2017

# def tuple_func(year):
#     for i in range(1,5):
        
        
#     new_list = []
#     for x in year: 
#         return new_list.append(x[0])
    
# year_2010 = {"2010": s_2010}
# year_2011 = {"2011": s_2011}
# year_2012 = {"2012": s_2012}
# year_2013 = {"2013": s_2013}
# year_2014 = {"2014": s_2014}
# year_2015 = {"2015": s_2015}
# year_2016 = {"2016": s_2016}
# year_2017 = {"2017": s_2017}

In [32]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 

all_years_dict = {"All Years June": all_years}

all_years_df = pd.DataFrame(all_years_dict) 

# pd.DataFrame(s_2010)
# pd.DataFrame(year_2011)
# pd.DataFrame(year_2012)
# pd.DataFrame(year_2013)
# pd.DataFrame(year_2014)
# pd.DataFrame(year_2015)
# pd.DataFrame(year_2016)
# pd.DataFrame(year_2017).describe()

In [34]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
all_years_df.describe()

       All Years June
count     1911.000000
mean        74.839874
std          3.229365
min         64.000000
25%         72.000000
50%         75.000000
75%         77.000000
max         85.000000

## D2: Determine the Summary Statistics for December

In [10]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
d_2010 = session.query(Measurement.tobs).filter(Measurement.date > '2010-11-31').filter(Measurement.date < '2011-01-01').all()
d_2011 = session.query(Measurement.tobs).filter(Measurement.date > '2011-11-31').filter(Measurement.date < '2012-01-01').all()
d_2012 = session.query(Measurement.tobs).filter(Measurement.date > '2012-11-31').filter(Measurement.date < '2013-01-01').all()
d_2013 = session.query(Measurement.tobs).filter(Measurement.date > '2013-11-31').filter(Measurement.date < '2014-01-01').all()
d_2014 = session.query(Measurement.tobs).filter(Measurement.date > '2014-11-31').filter(Measurement.date < '2015-01-01').all()
d_2015 = session.query(Measurement.tobs).filter(Measurement.date > '2015-11-31').filter(Measurement.date < '2016-01-01').all()
d_2016 = session.query(Measurement.tobs).filter(Measurement.date > '2016-11-31').filter(Measurement.date < '2017-01-01').all()
d_2017 = session.query(Measurement.tobs).filter(Measurement.date > '2017-11-31').filter(Measurement.date < '2018-01-01').all()

In [11]:
# 7. Convert the December temperatures to a list.
# Declare list: 2010
yeard_2010 = []

# Extract the value from the tuple 
for x in d_2010: 
    yeard_2010.append(x[0])

In [ ]:
# Declare list: 2011
yeard_2011 = []

# Extract the value from the tuple 
for x in d_2011: 
    yeard_2011.append(x[0])

In [ ]:
# Declare list: 2012
yeard_2012 = []

# Extract the value from the tuple 
for x in d_2012: 
    yeard_2012.append(x[0])

In [ ]:
# Declare list: 2013
yeard_2013 = []

# Extract the value from the tuple 
for x in d_2013: 
    yeard_2013.append(x[0])

In [ ]:
# Declare list: 2014
yeard_2014 = []

# Extract the value from the tuple 
for x in d_2014: 
    yeard_2014.append(x[0])

In [ ]:
# Declare list: 2015
yeard_2015 = []

# Extract the value from the tuple 
for x in d_2015: 
    yeard_2015.append(x[0])

In [ ]:
# Declare list: 2016
yeard_2016 = []

# Extract the value from the tuple 
for x in d_2016: 
    yeard_2016.append(x[0])

In [ ]:
# Declare list: 2017
yeard_2017 = []

# Extract the value from the tuple 
for x in d_2017: 
    yeard_2017.append(x[0])

In [12]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [13]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.